#film-list {
    width: 969px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px 8px 30px 8px;
}

#film-list li {
    width: 310px;
    height: 170px;
    float: left;
}

