#wrapper {
    width: 950px;
    margin: 0 auto;
}

#content {
    min-height: 420px;
}

h1 {
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}

.all .article {
    width: 590px;
    padding-right: 40px;
}

.all .aside {
    width: 310px;
}

.title-line {
    padding-bottom: 4px;
    margin-top: 14px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.color-gray {
    color: #666;
}

.gray {
    color: gray;
}

.blue {
    color: #009bff;
}

#comments {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    padding: 20px 0 0;
}

.comment-item {
    margin: 10px 0 12px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
}

.pic {
    margin-bottom: 15px;
    margin-top: 3px;
}