@charset "UTF-8";
/* additional css for site */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑', 'Open Sans', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

h4, h3 {
    font-size: 16px;
}

h5 {
    font-size: 14px
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q:before, q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, dt {
    font-weight: normal;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font: 13px '微软雅黑', 'Open Sans', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    outline: 0;
}

body {
    background: #f9f9f9;
}

.m-r15 {
    margin-right: 15px;
}

.m-b20 {
    margin-bottom: 20px;
}

.fc-orange, .orange {
    color: #ed9a26;
}

.fc-blue, .blue {
    color: #1c76b8;
}

.fc-blue1, .blue1 {
    color: #0c9bf7
}

.fc-green, .green {
    color: #69aa43;
}

.fc-grey, .grey, .fc-gray, .gray {
    color: #707070;
}

.fc-dary-grey, .dark-grey, .fc-dark-gray, .dark-gray {
    color: #434343;
}

.fc-h-gray {
    color: #999
}

.fc-red, .red {
    color: #e0595f;
}

.fc-white, .white {
    color: #ffffff;
}

a {
    color: #5e5653;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.btn {
    padding: 3px 20px !important;
    -wekbit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 0px !important;
}

.btn-sm {
    padding: 5px 10px !important;
}

.btn-primary {
    -webkit-background-image: none !important;
    background: #1c76b8 none !important;
    border: 0px solid #0190ec !important;
    color: #fff !important;
}

.btn-primary:hover, .btn-primary:active {
    -webkit-background-image: none !important;
    background-color: #1a69a3 !important;
}

.btn-gray {
    background-color: #c9c9c9 !important;
    color: #fff !important;
}

.btn-warning {
    -webkit-background-image: none !important;
    background: #df8f1f none !important;
    border: 0px solid #df8f1f !important;
    color: #fff !important;
}

.btn-warning:hover, .btn-warning:active {
    -webkit-background-image: none !important;
    background-color: #db8a18 !important;
}

.btn-noradius {
    -wekbit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, #009bff 0, #0190ec 100%);
    background-image: -o-linear-gradient(top, #009bff 0, #0190ec 100%);
    background-image: linear-gradient(to bottom, #009bff 0, #0190ec 100%);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* some margin */
.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-100 {
    margin-top: 200px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}


.radius-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.wrapper {
    -moz-box-shadow: 0px 3px 5px rgba(232, 232, 232, 0.7);
    -webkit-box-shadow: 0px 3px 5px rgba(232, 232, 232, 0.7);
    box-shadow: 0px 3px 5px rgba(232, 232, 232, 0.7);
    position: relative;
}

.topads {
    display: none;
}

.noshadow .wrapper {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0
}

/*font awesome 1.25x size*/
.fa-1x25 {
    font-size: 1.25em;
}

.fa-1x5 {
    font-size: 1.5em;
}

.icon-wechat, .icon-weibo, .icon-qq {
    /*-webkit-transition: background 0.2s ease;*/
    /*-moz-transition: background 0.2s ease;*/
    /*-o-transition: background 0.2s ease;*/
    /*-ms-transition: background 0.2s ease;*/
    /*transition: background 0.2s ease;*/
    display: inline-block;
    vertical-align: middle;
}

.icon-wechat {
    background-position: 0px 0px;
    height: 18px;
    width: 22px;
}

.icon-wechat-on, .icon-wechat:hover, .link-button:hover .icon-wechat {
    background-position: 0px -18px;
}

.icon-weibo {
    background-position: -32px 0px;
    height: 18px;
    width: 22px;
}

.icon-weibo-on, .icon-weibo:hover, .link-button:hover .icon-weibo {
    background-position: -32px -18px;
}

.icon-qq {
    background-position: -65px 0px;
    height: 18px;
    width: 22px;
}

.icon-qq-on, .icon-qq:hover, .link-button:hover .icon-qq {
    background-position: -65px -19px;
    height: 18px;
    width: 22px;
}

.top-bar {
    padding: 0px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    background: #3d3d3d;
    color: #fff;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #fff;
}

.tb-contact {

}

.tb-contact, .tb-contact a {
    color: #b8b8b8;
}

.tb-contact a:hover {
    /*color:#434343;*/
    color: #fff;
}

/*block login and href list style*/
.tb-login {
}

.tb-login a {
    color: #fff;
    height: 32px;
    line-height: 32px;
    display: block;
    padding: 0px 24px;
}

.tb-login a.link-index {
    background: #b89590;
}

.tb-login a.link-signin {
    background: #1c76b8;
}

.tb-login a.link-signin:hover {
    background: #2A96EE;
}

.tb-login a.link-signup {
    border-right: 1px solid #666;
}

.tb-login a.link-signup:hover {
    background: #2D3139;
}

.loan-title-group {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.loan-title-group-1 {
    background-position: -50px -360px;
}

.loan-title-group-2 {
    background-position: -2px -360px;
}

.loan-title-group-3 {
    background-position: -34px -360px;
}

.loan-title-group-4 {
    background-position: -18px -360px;
}

/*header 2*/
.header-2 {
    /*height:70px;*/
    background: #ffffff;
    position: relative;
    height: 80px;
    width: 100%;
}

.header-2 .split {
    margin-left: 20px;
    margin-top: 8px;
    width: 5px;
    height: 50px;
    display: block;
    float: left;
}

.header-2 .slogan {
    float: left;
    position: relative;
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 8px;
}

.header-2 .slogan img {
    position: absolute;
}

.header-2 .nav {
    padding: 20px 0px 20px 0px;
    font-size: 18px;
    color: #4b4948;
}

.header-2 .nav li {
    padding: 0px 15px;
    line-height: 40px;
}

.header-2 .list-inline > li:last-child {
    padding-right: 0px;
}

.header-2 .nav li a {
    border-bottom: 2px solid #ffffff;
    padding: 5px 0px;
}

.header-2 .nav li a.curr, .header-2 .nav li a:hover {
    border-bottom: 2px solid #1c76b8;
    color: #1c76b8;
}

.header-2 .col-sm-7 {
    padding-left: 0px;
    padding-right: 0px;
}

/*foot part*/
.foot {
    padding: 10px 0px;
    background: #555555;
    color: #b0b0b0;
    font-size: 14px;
}

.foot a {
    color: #b0b0b0;
}

.foot a:hover {
    color: #fff;
}

.foot .split-horizontal {
    border-bottom: solid 1px #747474;
    width: 100%;
}

.foot .split-right {
    border-right: solid 1px #747474;
    border-left: solid 1px #747474;
}

.foot .foot-item {
    margin: 10px 0px;

}

.foot .tel {
    margin-top: 10px;
}

.foot .tel, .foot .add {
    line-height: 30px;
}

.foot .foot-item {
    line-height: 30px;
}

.foot .middle-col {
    margin: auto;
    text-align: left;
    width: 200px;
}

.foot .work-time {
    color: #707070;
    margin: -10px 0px 10px 0px;
}

.foot .link-list {
    font-size: 12px;
    line-height: 22px;
}

.foot .link-list .title {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.foot .link-livechat {
    background: #707070;
    padding: 5px 10px;
    color: #fff;
}

.foot .link-button {
    background: #848484;
    color: #fff;
    min-width: 170px;
    display: inline-block;
    padding: 1px 10px;
    vertical-align: middle;
}

.foot .link-button:hover {
    color: #7bcae4;
}

.foot .qrcode {
    width: 110px;
    height: 110px;
    display: block;
    background-position: -99px 0px;
}

.brand-bg a.wechat i {

}

.brand-bg a.wechat i:hover {
    background: #1fae00;
    color: #ffffff;

}

.brand-bg a.weibo i {

}

.brand-bg a.weibo i:hover {
    background: #b72411;
}

.brand-bg a i {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    font-size: 2em;
    -webkit-transition: background 2s ease;
    -moz-transition: background 2s ease;
    -o-transition: background 2s ease;
    -ms-transition: background 2s ease;
    transition: background 2s ease;
}

.circle-3 {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
}

footer {
    padding: 15px 0px 12px 0px;
    font-size: 12px;
    background: #797979;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a.trust-1 {
    width: 96px;
    height: 35px;
    display: block;
    background-position: -82px -380px;
}

footer a.trust-2 {
    width: 96px;
    height: 35px;
    display: block;
    background-position: -82px -416px;
}

footer a.trust-3 {
    width: 40px;
    height: 35px;
    display: block;
    background-position: -82px -452px;
}

footer .text-version {
    height: 35px;
    line-height: 35px;
}

.foot a:hover, footer a:hover {
    /*color:#2A96EE;*/
    color: #fff;
}

.rightToolbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 104500;
    display: block;
    cursor: pointer;
    width: 100px;
    height: auto;
}

.rightToolbar .bgimg-all {
    margin-bottom: 5px;
    border-radius: 2px;
}

.rightToolbar .bgimg-all a {
    line-height: 41px;
    height: 41px;
    display: block
}

.rightToolbar .bgimg-all a:hover, .rightToolbar .bgimg-all a:visited {
    text-decoration: none
}

.webqq {
    background-position: 0 -498px;
    background-color: #97c949;
    cursor: pointer;
    width: 92px;
    height: 41px;
}

.webqq:hover {
    background-position: 0 -538px;
}

[class^="webqq"], [class*="webqq"], [class^="addQQGroup"], [class*="addQQGroup"], [class^="sendEmail"], [class*="sendEmail"], [class^="totop"], [class*="totop"] {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.addQQGroup {
    background-position: 0 -577px;
    background-color: #ffa801;
    cursor: pointer;
    width: 92px;
    height: 41px;
}

.addQQGroup:hover {
    background-position: 0 -618px;
}

.sendEmail {
    background-position: 0 -660px;
    background-color: #67bdc6;
    cursor: pointer;
    width: 92px;
    height: 41px;
}

.sendEmail:hover {
    background-position: 0 -698px;
}

.totop {
    background-position: 0 -740px;
    background-color: #626262;
    cursor: pointer;
    width: 92px;
    height: 41px;
}

.totop:hover {
    background-position: 0 -778px;
}

.totop a, .totop a:visited {
    color: #fff;
}

.totop a i {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 2px;
    background-color: #666;
}

/* pages style */
.pages {
    text-align: center;
}

.pages span {
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    float: inherit;
}

.pages a {
    border: solid 1px silver;
    width: 30px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    display: inline-block;
    color: #006490;
    text-align: center;
    font-family: Arial;
    margin-right: 2px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.pages a:hover {
    /*background:#d7d6d6;*/
    color: #1899ca;
}

.pages a:active {
    /*background: silver;*/
    color: silver;
}

.pages a#pageactive {
    /*background: silver;*/
    color: silver;
}

.pages span {

    margin: -3px 10px 0 8px;
    line-height: 30px;
}

.pages a {
    margin-right: -1px;
}

.pages a:first-child {
    border-radius: 3px 0px 0px 3px;
}

.pages a:last-child {
    border-radius: 0px 3px 3px 0px;
}

/* carousel */
.carousel {
    height: 350px;
}

.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 350px;
    background-color: #777;
}

.carousel-inner > .item > a {
    height: 350px;
    width: 100%;
    display: block;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
    max-width: none;
}

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
    left: 50% !important;
    top: 50% !important;
    margin: -10px 0px 0px -10px !important;
    position: absolute !important;
}

/*仿select*/
.form_input {
    position: relative;
    height: 30px;
    line-height: 19px;
    width: 80px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1) inset
}

.form_input label {
    position: absolute;
    left: 1px;
    top: 0;
    width: 60px;
    padding-left: 7px;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    _font-family: Tahoma;
    z-index: 2;
}

.form_input input, .form_input label.imitateSelect {
    position: absolute;
    left: 1px;
    top: 0;
    width: 102px;
    padding-left: 7px;
    height: 30px;
    line-height: 30px;
    border: 0 none;
    color: #737373;
    width: 40px;
}

.form_input .form_arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 19px;
    border-left: 1px solid #ccc;
    padding-left: 8px; /* background:url(../images/ico.png) no-repeat -390px 8px;*/
}

.form_input .form_arrow em {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 4px;
    border-style: solid dashed none;
    border-color: #999 transparent transparent;
}

.optionList {
    display: none;
    position: absolute;
    left: -1px;
    top: 22px;
    padding: 1px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    z-index: 10;
}

.optionList a {
    display: block;
    padding-left: 15px;
    height: 25px;
    line-height: 25px;
    color: #555;
    text-decoration: none;
    background: #fff;
    text-align: left
}

.optionList a:hover {
    color: #333;
    text-decoration: none;
    background: #fff7e1;
}

.optionList a:hover .red {
    color: #333;
}

/* main block */
.main-block {
    background-color: #f0f1f2;
}

.client-one {
    margin: 10px 0px;
}

/* For ipad: */
@media screen and (max-width: 1024px) {
    .header-2 .split {
        display: none;
    }

    .rightToolbar {
        display: none
    }
}

@media screen and (max-width: 768px) {
    /* index page special */
    .index-page .index-17-24 {
        width: auto;
    }

    .index-page .index-7-24 {
        width: auto;
    }

    .header-2 .col-sm-5, .header-2 .col-sm-7 {
        width: auto;
    }

    .header-2 .split, .header-2 .slogan, .foot {
        display: none;
    }

    .rightToolbar {
        display: none
    }
}

/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width: 480px) {
    .tb-contact {
        display: none;
    }

    .loan-detail-top {
        width: inhert;
    }

    .loan-detail-form {
        width: inhert;
    }

    .rightToolbar {
        display: none
    }
}

/* For iphone: */
@media screen and (max-width: 320px) {
    .rightToolbar {
        display: none
    }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container > .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}